.app-container {
  display: flex;
  height: 100vh;
  background-color: #f0f2f5;
}

.content {
  flex: 1; 
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column-reverse; 
  }
}