* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121214;       
  --surface-color: #202024;  
  --text-primary: #e1e1e6;   
  --text-secondary: #a8a8b3; 
  
  --primary-color: #8257e5; 
  --primary-hover: #9466ff;  
  
  --input-bg: #121214;
  --border-color: #323238;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: 'Roboto', sans-serif; 
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
}